[2017-11-02 22:22] innoralf opened #1 "Anmeldehintergrund bleibt grau"
Ich habe die app aktiviert, aber der Hintergrund bleibt grau, es wird kein Bild angezeigt.
Woran kann das liegen?

[2017-11-03 17:35] sine707 commented on #1
Bei mir besteht das gleiche Problem.

[2017-11-03 17:50] innoralf commented on #1
Den Fehler konnte ich finden!
Das Problem kommt immer dann wenn unter - Verwaltung - Theming - Anmeldebild nicht das Default ausgewählt ist.
Dann einfach auf das Symbol - Auf Standard zurück setzen klicken, danach funktioniert es.

Outlook für iOS<https://aka.ms/o0ukef> beziehen

On Fri, Nov 3, 2017 at 6:41 PM +0100, "sine707" <notifications@github.com<mailto:notifications@github.com>> wrote:

Bei

[2017-11-04 19:37] j-ed opened #2 "background image should be cached until a login process has been finshed"
After activating that app I realized that a grey screen is shown for a short moment before the downloaded picture is displayed. I think it might be better to show the previous picture before replacing it by a new one, to prevent grey screens.
Additionally the picture changes *really* on every page refresh/reload. This is a little bit confusing/disturbing e.g. when you have the Two Factor U2F app a

[2017-11-25 21:01] mjanssens opened #4 "Add possibility to customize unsplash url"
I like this simple but nice feature.
Perhaps a nice addition would be to customize the url.
Or maybe even better to use the api from unsplash for collections or searches

[2017-11-28 01:05] sunjam commented on #4
Customizing the url would also allow Unsplash users to switch to their own collections.

[2017-11-28 01:24] sunjam opened #5 "Request: Support other creative commons photo sites"
Why?  Because there are great alternatives to Unsplash that are also freely available under a creative commons zero license.  It adds other options + connects users with a lot of great Creative  Commons content.

[Pixabay - Creative Commons Zero with absolutely no credit needed to use the images.](https://pixabay.com/)
[Pexels is another Creative Commons Zero page with tons of great photos](https:

[2017-11-30 20:25] e-alfred commented on #5
Way better: Support of pictures stored on Nextcloud itself. It would be awesome to simply set a folder with pictures in settings that will show up on the login screen.

[2017-11-30 21:43] sunjam opened #6 "Request: Backgrounds images from a folder within Nextcloud"
Allow images to also be supported from a directory selectable within the local Nextcloud instance.  References issue #5

[2017-11-30 21:44] sunjam commented on #5
@e-alfred That is a different, but equally awesome request.  It makes total sense to host a directory of pictures on your own cloud (no pun intended).  I've created Issue #6 for your request.

[2017-12-13 19:27] konstantinwall opened #7 "Request: Pull image(s) in advance with cronjob to have it ready uppon loading the page"
I experience a little delay when I load my cloud page until the image is shown. It would be great to pull the next image with the cronjob. Information if this image was then shown to the user could be kept in database. So that if a image was pre cached, it is no necessary to cache another one, until the previous was shown once.

Besides that ... I love your App (idea). It is simple and beautiful!

[2017-12-14 12:42] jancborchardt commented on #7
Yeah, performance could be improved. However this specific solution would incredibly increase the complexity from a simple URL call which shows the current inage to having a database. Sorry but I'm not very fond of that. :)

[2017-12-14 12:44] jancborchardt commented on #5
If someone wants to contribute here I'd appreciate it. Unsplash is actually _not_ CC0 because of their arbitrary clause that you can't use the pictures to build an alternative to Unsplash …

So I would very much like to see a switch of the whole app to Wikimedia Commons. They have a complicated API beyond a simple URL so any help is appreciated.

[2017-12-14 12:49] jancborchardt commented on #2
So there's two points here:
- About the grey screen I disagree. It would be way more jarring to display the previous image for a second and then switch to the new one. The current grey is very neutral for that purpose.

- And about it really switching every time: Well, it is supposed to be a showcase of pictures. :) And when do you switch, when do you not? Time limit, interactions, clicks? There a

[2017-12-14 12:49] jancborchardt commented on #1
Ok, thanks for finding and posting the solution! :) Closing this

[2017-12-14 12:49] #1 closed

[2017-12-16 21:10] jancborchardt commented on #6
Is anyone down to submit a pull request for this? :)

[2018-01-25 21:20] joewashear007 commented on #4
I think this would be really helpful. I love the idea but it is really weird when you random picture of people that are not appropriate for work. Maybe at least switch the default URL to pull nature or still life photos?

[2018-01-30 13:05] jancborchardt commented on #4
Contributions here are very welcome. :) It would need to be an admin setting, a simple input box with the current URL and below a link to their API documentation.

As of now, you can already edit the URL manually in the CSS file.

[2018-02-27 04:31] starlyth opened #9 "URL to photo"
I would love to know the url of the photo; display it in small print on the bottom, for example. It should probably be an option, as I'm sure there are many who wouldn't want that to show up on the fantastic login screen.

[2018-03-13 12:56] ToeJet commented on #9
Ditto.    Came across a few neat ones that would be fun to know more one.

[2018-03-13 16:03] jancborchardt commented on #9
Yep, that would be nice. Contributions for this are very welcome. :)

[2018-03-13 16:05] jancborchardt commented on #7
If we support other creative commons photo sites #5 then this could be an option.

[2018-03-13 16:06] jancborchardt commented on #2
This is related to Request: Pull image(s) in advance with cronjob to have it ready uppon loading the page #7

[2018-03-15 11:24] Ludovicis opened #12 "Add a option in nextcloud parameter for choose the key word to use"
Hello jancborchardt ,

Can you add a option in nextcloud parameter for choose the key word to use, please ?
example: car, sun...
Not only for nature

Thanks,

[2018-03-15 11:41] jancborchardt commented on #12
Hi @ludovicis :)
I'd say this is a duplicate of: "Add possibility to customize unsplash url" #4 – And any contribution there is much appreciated. :)

Also a tip from there: You can already edit the URL manually in the .css file for now. :)

[2018-03-15 11:41] #12 closed

[2018-03-15 12:58] Ludovicis commented on #12
Thanks i have do that :)

[2018-03-20 14:51] jancborchardt commented on #12
@Ludovicis yes, that’s good! :) Let’s please continue the discussion in #4, and feel free to open a pull request for this

[2018-03-24 22:37] tau-ri commented on #9
Hi folks,
the url is coded in the app...
https://source.unsplash.com/random/featured/?nature

[2018-03-24 23:44] tau-ri opened #13 "No Image when themening app is active"
Hi,
i have the issue that unsplash is only showing images when the themening APP is disabled.
When the themening is enabled, you can see the image for about a nanosecond appearing in the background if you refresh the loginpage repeating verry verry fast sor several times (like a nervour monkey)..... ;-)

An other NC 13 Server on the same OS base with a similar config hasn't this issue. But, the ot

[2018-03-26 22:01] Shadowstreik commented on #6
Hello. What would the status of this be? Thank you.

[2018-03-27 20:14] jancborchardt commented on #6
@Shadowstreik see label: **help wanted** :)

[2018-03-27 20:15] jancborchardt commented on #13
cc @juliushaertl for theming – I guess by default this should not interfere?

@tau-ri I assume you do _not_ have a background image set in the theming app? Cause then of course it would not work. :)

[2018-03-27 20:16] jancborchardt commented on #9
@tau-ri yes – but people are asking about the actual URL of the photo which is randomly put out, which is a different one every time. :)

[2018-03-27 20:21] Shadowstreik commented on #6
That doesn't tell anyone anything and that last post was months, ago. What has transpired in the vast amount of time that has passed. Thank you for taking the time to look into it.

[2018-03-27 20:25] sunjam commented on #6
Hi, I’m OP.  We are all on the same team so please remain respectful to the Nextcloud devs.  This is an open request and clearly not a top priority.  If you are not a developer, please help us find someone to assist.  The issue remains open in good faith.

[2018-03-27 22:34] jancborchardt commented on #6
@Shadowstreik nothing, otherwise there would be an update right here in this issue. :) If you know any developers who would like to contribute, please point them this way.

[2018-03-28 09:37] juliushaertl commented on #13
It is actually the other way round. The theming app adds an `background-image: none !important;` rule to the css if the background image is disabled. So the image from the unsplash app won't appear if the background image is disabled in the theming app.

@tau-ri can you check that?

[2018-03-30 17:40] msneet commented on #13
I confirm
I have the same thing

[2018-03-30 17:59] jancborchardt commented on #13
@msneet please also check if you have the background image disabled in your theming app, as @juliushaertl mentioned above. We need some more details here.

[2018-03-30 19:03] tau-ri commented on #13
Sorry for my late update!
Strange things happen over time...
I just deaktivated the background image and now it's working fine!
Did this before including several tryes to aktivate -> deactivate themening, reinstzaling unsplash and clearing the imagecache with occ commands.

Should update the README markdown and tutorialize this behave....

Thanks for your support!

[2018-04-03 13:31] jancborchardt commented on #13
@tau-ri so the issue is gone? Or do you have specific steps to reproduce it so we can fix it?

[2018-04-06 08:27] tau-ri commented on #13
Hi,
I can't repeat all my steps as I somewhen started klicking confused around the system.
 The solution was finally to just delete the background image at aktivated themening app.

THX !

[2018-04-06 09:47] jancborchardt commented on #13
@msneet do you have the issue still, and can provide reproduction steps so we can fix it?

[2018-04-12 20:05] CHazz opened #14 "Ability to disable background image in header"
any settings for disable texture in menu ?

[2018-04-12 23:10] fa-ribeiro commented on #14
background images in the header are making app icons almost invisible:

<img width="434" alt="screen shot 2018-04-13 at 00 05 42" src="https://user-images.githubusercontent.com/2636096/38708497-73ca94c4-3eae-11e8-88d8-8b86d0bc0daa.png">

<img width="544" alt="screen shot 2018-04-12 at 23 58 10" src="https://user-images.githubusercontent.com/2636096/38708278-6ac457d0-3ead-11e8-8821-969d62456e66.png

[2018-04-12 23:27] jancborchardt commented on #14
Ok, will look at it tomorrow. Likely fixed by:
- Upping the opacity to 0.9 or just full white.
- Adjusting the drop shadow
- Using a background-blend-mode to subdue the picture a bit

[2018-04-12 23:31] fa-ribeiro commented on #14
Or you can just revert commit 3d80e750 :-)

[2018-04-12 23:46] ravenstar commented on #14
This feature would be useful.

As a work-around I've applied the following CSS under the "Custom CSS" input on the "Theming" page;
`header div#header {
  background-blend-mode: difference;
}
ul#appmenu li:hover {
  background-color: rgba(0, 0, 0, 0.42);
}`

[2018-04-13 03:06] agrudsky commented on #14
+1 for this option. I do not wish for Unsplash to change the header, I am only looking for the login background to be changed, This feature should not have made it into this release without an option to turn it off.

[2018-04-13 05:47] ASmith- commented on #6
Seems like a start on this would be to merely setup a folder within NextCloud the add-on randomly selects the background images to use. That's what,  a 30 minute coding effort by a developer familiar with this project? Then a developer down the road could possibly look to have the option of multiple additional background images pulled from remote sites or locations.

[2018-04-13 08:03] auberginepop commented on #14
Not sure if this is the right place to mention it but I love the new unsplash headers.
Thanks jancborchardt!

[2018-04-13 09:28] mixim-mixim opened #15 "Possibility to modify the query API string"
May be u should give the possibility to modify the query API  string, so that one can
fix the background for the daily pisture or query only pics from a special collection etc.
Thx in advance ... MiXiM

[2018-04-13 09:39] jancborchardt commented on #15
This is a duplicate of "Add possibility to customize unsplash url" #4 – contributions welcome. :)

[2018-04-13 09:39] #15 closed

[2018-04-13 11:52] blubbsy commented on #14
i agree to the previous posters. i turned off unsplash until it is possible to opt out the unsplash headers.

[2018-04-13 13:06] Larsene commented on #14
please, could you make an option to disable unsplash for the header ? For now, i had to turn off entirely unsplash on my NextCloud...

[2018-04-13 13:43] ways commented on #13
I have the same problem. I have to choose between unsplash background and having a custom logo. Should this be fixed in the theming app (since it's the one setting no background)?

[2018-04-13 15:36] jancborchardt commented on #14
Started a pull request for a setting to disable the header background at https://github.com/jancborchardt/unsplash/pull/16 – as I’m mainly a designer and not a developer, I asked for some help there. But it’s almost done and I’ll do a release right afterwards, additionally also with visibility enhancements for those who like the image in the header. :smiley:

[2018-04-13 15:38] jancborchardt commented on #13
@juliushaertl any idea here? @ways @tau-ri further info and steps to reproduce are important.

[2018-04-14 21:33] diplodata commented on #14
I'd really like to use the header background if/when it's made optional, but it should only using darker images that maintain contrast with the symbols.

[2018-04-15 15:00] marius-wieschollek commented on #14
@jancborchardt If you want to, you can look at my pull request. It gives users and administrators the option to choose where images are being used.

[2018-04-15 20:44] 11harveyj commented on #14
As my workaround I manually removed the CSS that was added in commit https://github.com/jancborchardt/unsplash/commit/3d80e7503dcdfdd65ff71412ecd94b55e43ef44d

[2018-04-17 08:53] hessercan commented on #13
My solution seems simple, vi into the theming.scss file and add a # in front of the background-image: none !important; line. Now I can have my custom logo and cool backgrounds!
![screen shot 2018-04-17 at 4 51 53 am](https://user-images.githubusercontent.com/24305438/38859105-4a04af8a-41fb-11e8-907a-b6ba082fed0b.png)

[2018-04-17 16:48] ticevi commented on #9
I'm working on it and found a solution with dynamic css (execute php inside a css file).
The problem ist, that Nextcloud does not support these kind of files.
Has somebody a solution how to implement this file

[2018-04-18 15:34] ticevi commented on #9
As a saw in #17 there is work all ready done to provide css trough php. Now I'm getting the actual url from the header redirect. When an other url is set there could be no information

[2018-04-19 13:27] newhinton commented on #9
maybe you could also gather exif-metadata from the image, and display the location or content of the image, windows10-loginscreen-stlye

[2018-04-23 14:46] milosz opened #19 "Use daily or weekly images instead of random"
Thanks for this Nextcloud app, it is great! I would like to propose enhancement to use weekly or daily images instead of random to get more smooth experience.

[2018-04-24 11:25] jancborchardt commented on #19
Could be an interesting enhancement, although the randomness is kinda what makes it nice. :)

[2018-05-07 18:26] timbrueggenthies opened #20 "Disable Image in Header"
As of updating to the newest stable Nextcloud Release (13.0.2), i encountered a problem with the menubar at the top of the cloud UI. It seems as if the Plugin also loads an image for this menubar, resulting in a background image rather than the standart background color chosen.

Screenshot:
![unbenannt](https://user-images.githubusercontent.com/32687085/39717827-b204a3e4-5234-11e8-94d6-7382098d3b0

[2018-05-07 19:29] agrudsky commented on #20
This is already an issue, although it hasn't been updated in a while - #14. I suppose we're waiting on progress from the dev.

[2018-06-13 19:09] pfnegrini commented on #20
I would love as well to have the image in the header to be disabled as config option.

[2018-06-14 07:35] zjb19981222 opened #21 "How to Custom picture？"
I want to add some new pictures, but I don't know how to do it .thank you

[2018-06-15 14:42] jancborchardt commented on #21
Currently this is not possible. But this issue is a duplicate of #4, #5, #6 – depending on what you want to achieve.

[2018-06-15 14:42] #21 closed

[2018-06-20 09:09] newhinton opened #22 "Transform unsplash app to advanced/extended theming app"
While working on my #17 pull request, i had the idea to add filter and other options to this app.

Possible features:

Random Images from local folder, #6
Other pages, #5
Filter to change appearance of the background image(Grayscale, Tint, Transparency, Overlapping Images, Gradients, etc.)

If we could apply all of those ideas to the default theming background-image, this app could easily be upgra

[2018-06-20 09:34] jancborchardt commented on #22
I'm quite against this, as every feature requires us to maintain it. And while I think some of the features might be nice (like images from a Nextcloud folder instead), many others are just too much detail.

Right now it's a simple enable and done. No one wants to adjust all these settings.

[2018-06-20 11:48] newhinton commented on #22
Does that mean they should not be included anywhere? I'd like to see the ability to tint an image in the clouds default color (and to be honest, i have already implemented this somewhere as a proof of concept). I could move this specific feature over to nextcloud/theming, or do you think the overall work to maintain it would be too great?

[2018-06-20 17:30] jancborchardt commented on #22
@newhinton tinting could potentially be part of advanced theming options, as long as it’s only a simple checkbox for "Tint background image in primary color". :) cc @juliushaertl regarding theming – what do you think?

[2018-06-21 08:32] juliushaertl commented on #22
I don't think that we should introduce another theming option there. Tinting the image is clearly something that can be done with the customcss app and with 14 and CSS4 variables, it is also possible to just use the theming color variable inside there.

[2018-06-21 09:56] jancborchardt commented on #22
Good call @juliushaertl, the custom CSS app is perfect for this.

[2018-06-21 09:56] #22 closed

[2018-06-23 08:58] GLLM opened #23 "Request : customize/enrich the category(ies) in which the Unsplash background are retrieved"
Hi all,

at the moment, NC-unsplah retrieves its background pictures from Nature category on unsplash.com

There are many other beautiful categories, such as Clouds, Landscape, Moutain, Sky.

It would be wonderful if the admin could input the categories in which he'd like to see the bg pictures pulled.

What do you think ?
Thanks
GLLM

[2018-06-23 09:14] jancborchardt commented on #20
This is a duplicate of #14 as @agrudsky mentioned. It will be fixed with the next release with a setting to disable the header background. :)

[2018-06-23 09:14] #20 closed

[2018-06-23 09:15] jancborchardt commented on #23
This is a duplicate of #4, and might soon be possible through a setting. :)

As of now, you can already edit the URL manually in the CSS file.

[2018-06-23 09:15] #23 closed

[2018-06-23 15:13] GLLM commented on #23
Woops sorry !

[2018-06-23 17:37] jancborchardt commented on #13
@hessercan as you can see from the code, it seems like the issue stems from having used the »Remove background image« function in theming, which makes it display a plain background color. Make sure to »Reset to default« in theming and let me know if the issue still occurs.

[2018-07-18 11:25] BentHaase opened #24 "Allow setting resolution"
The app is really nice and pictures are good but for higher resolution screens a setting to allow increasing the resolution would be neat.

On HiDPI (4k+) screens the images look really blurred and unsharp. Of course this is also dependant on the source quality of the pic but in 2018 the images should be at least 1080p or above.

[2018-08-07 18:35] dadosch commented on #5
For **Wikimedia** POTD, there is actually a PHP class https://github.com/simison/WikimediaCommonsPotd

For **Pixabay**, you would have to download the image  beforehand:

If you want to show Pixabay images on your website, please upload them to your server. Pixabay image URLs don't work on external sites.

[2018-08-20 08:24] ChristophWurst opened #25 "Nextcloud 14"
Hey @jancborchardt,

please see https://github.com/orgs/nextcloud/projects/15#card-11847034 :wink:

Thanks

[2018-08-20 08:43] auberginepop commented on #25
That link returns a 404

[2018-08-20 08:49] ChristophWurst commented on #25
@auberginepop sorry for the confusion. This is a semi-internal project board to check Nextcloud apps if they are compatible with Nextcloud 14 and it seems like the board is not set to be publicly accessible. I think only organization member can see it.

[2018-08-21 20:59] jancborchardt commented on #25
The app works fine on Nextcloud 14 already, but I also opened a pull request to make it compatible with the then-upcoming 15. :)
https://github.com/jancborchardt/unsplash/pull/26

Or do you see any specific issues?

[2018-08-21 21:00] ChristophWurst commented on #25
Nope, was just making sure you tested it :)

[2018-08-21 21:00] #25 closed

[2018-08-29 14:58] newhinton commented on #14
Closed because this was implemented in #18.
Will be in the next Release!
Thanks @marius-wieschollek !

[2018-08-29 14:58] #14 closed

[2018-08-29 15:01] jancborchardt commented on #14
Yes, huge thanks to @marius-wieschollek and also to @newhinton! :) And sorry for the lateness on my part – I had some wrist/hand pain issues often and couldn’t work that much.

[2018-08-29 15:04] jancborchardt commented on #19
This is super related to #4 (Add possibility to customize Unsplash URL) because if we implement that, you can use anything they documented at https://source.unsplash.com/ :) For example https://source.unsplash.com/daily

[2018-08-29 15:08] jancborchardt commented on #24
This is super related to #4 (Add possibility to customize Unsplash URL) because if we implement that, you can use anything they documented at https://source.unsplash.com/ :)

An example for a 4k image url you could put in to get a nature image is https://source.unsplash.com/3840x2160/?nature

[2018-08-30 08:32] #13 closed

[2018-09-08 18:06] marius-wieschollek commented on #9
I did not check, but i assume that unsplash removes all exif data when converting the images.
But the full api give a lot of extra information. You can get author information, description, image color and the location of the image from the api. For some reason you can't get the title.
I [added](https://github.com/jancborchardt/unsplash/pull/29) some information in the login page and in the notific

[2018-09-11 15:07] janarzz opened #30 "Problem installing plugin"
Hey, i got this error, when i tryng download and install this plugin.
cURL error 35: OpenSSL SSL_connect: SSL_ERROR_SYSCALL in connection to github.com:443 (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2018-09-11 17:29] marius-wieschollek commented on #30
This seems like a connection issue in the curl library. Do you have some kind of firewall in your network?

[2018-09-11 17:46] janarzz commented on #30
Hmm..i tryng again and plugin install success..wierd..

[2018-09-11 19:27] marius-wieschollek commented on #30
Great :+1:

[2018-09-11 19:27] #30 closed

[2018-09-28 13:02] GitHorst opened #31 "Add Option to disable "header" background"
It would be nice to have the option to only use this for the login screen. (Was it like that, earlier?)

Apart from the fact that showing a tiny stripe of an (albeit potentially beautiful ;)) image is kind of pointless, it also makes navigating the symbols in the header more difficult. Especially, bt not only, of the image contains a lot of white.

Thanks a lot for your work on this neat add-on! =

[2018-09-28 13:05] marius-wieschollek commented on #31
This will be in the next release. See #14

[2018-09-28 13:05] #31 closed

[2018-09-28 13:08] GitHorst commented on #31
Thanks -- sorry for only looking at the open issues, my bad :/

[2018-10-03 20:45] NoName805 opened #32 "No logon background?"
Please check attached, thanks.
Using last version of Nextcloud 14 and unsplash.

![2018-10-04_4-43-36](https://user-images.githubusercontent.com/22463334/46438345-35679900-c790-11e8-86da-2752ddf00fbd.jpg)

[2018-10-03 20:52] NoName805 commented on #32
Fixed by theming config

[2018-10-03 20:52] #32 closed

[2018-10-04 10:44] aljawaid commented on #14
Where is the setting in Admin?  I'm using version 1.1.1 but cant find how to disable the header. NC13.0.6

[2018-10-04 10:47] jancborchardt commented on #14
The new version is not released yet because we are thinking about what else to include. Thanks for the patience. :)

[2018-12-05 21:41] newhinton opened #33 "The Future of the Unsplash-App"
This issue is here to allow us to discuss the future of this app. Since there are things that changed regarding licensing of images from the unsplash-service, there may be features which may not be possible.

Everyone is invited to join this discussion and help us improve this app!

Currently, one idea is to move away from unsplash as an image-provider, to wikimedia-commons as an example. Suggesti

[2018-12-06 14:32] jancborchardt commented on #33
I would be happy to change the name. One thing only:

If we want to keep the current users, which is probably a good idea, we would **not** be able to change is the Nextcloud app ID (as far as I know – @MorrisJobke @rullzer correct?) This means it would always be `https://apps.nextcloud.com/apps/unsplash` in the app store, the apps subfolder would stay `unsplash` and on updates Nextcloud would say

[2018-12-06 14:58] MorrisJobke commented on #33
Correct.

[2018-12-27 12:01] Valdiralita opened #34 "Pinning Nextcloud as PWA with Firefox opens Unsplash images in fullscreen"
When pinning the Nextcould website as progressive web app onto your homescreen in android using firefox, the unsplash image opens as fullscreen image.

Does not happen with Chrome at all or regular Webpages in Firefox.

Android 8.1.0
Firefox 64.0.1
Nextcloud 14.0.4
Unsplash 1.1.3

Repro Steps:

Open Firefox and navigate to your Nextcloud page.
Press the "house with plus" button next to the URL and

[2018-12-27 12:56] jancborchardt commented on #34
@Valdiralita thanks a lot for the report, with video even! Could you test if this issue also happens with just theming? For that deactivate the Unsplash app, and in your Settings → Theming set a background image.

@newhinton @marius-wieschollek any idea here?

[2018-12-30 10:36] marius-wieschollek commented on #34
I don't think we can do much here.

We use the url `https://source.unsplash.com/random/featured/?nature` in our stylesheet to get a random background. The url creates a 302 redirect to the actual image. That redirect seems to cause the issue. If i just use the target url in the css, the image is loaded correctly and no new tab is opened.

You can work around this issue by disabling the image in th

[2019-01-02 16:14] Valdiralita commented on #34
You probably can expand the URL and follow the redirects, then put the result into css or set the background image directly.

[2019-01-04 13:16] biva opened #35 "Ability to disable background image in header for all users or by default"
Following https://github.com/jancborchardt/unsplash/issues/14 I'm very happy to be able to use Unsplash again: thank you :)

But the setting is not that obvious to find for the average user. Some of them don't even know what it is about. Would it be possible to disable background image in the header by default? And/Or to add a setting in the admin section of Settings, so that we could apply this s

[2019-01-04 13:17] biva commented on #35
To complete this question, even a manual parameter in config.ini or anywhere in a config file, would be a good workaround for me.
Thank you!

[2019-01-04 14:24] marius-wieschollek commented on #35
In the admin settings you can find global settings for this in the "Theming" section.

[2019-01-04 14:36] biva commented on #35
Oups! I missed it :( Thank you @marius-wieschollek ! And sorry for the non-relevant issue.

[2019-01-04 14:36] #35 closed

[2019-01-04 16:47] jancborchardt commented on #34
Then this is not trivial and directly related to:
- Request: Support other creative commons photo sites #5
- The Future of the Unsplash-App #33

TL;DR will likely only be fixed once we move to using actual APIs of services, like Wikimedia Commons.

[2019-01-07 11:33] xenlo opened #36 "PHP syntax error"
Hi,
Since I updated unsplash, I get my nextcloud screwed up by a PHP syntax error.
I assume that this is because I didn't match the minimal PHP dependencies. (NextCloud 13 still support php5.6, Unsplash1.1.3 still support NextCloud version 13, but needs min v7.0 of PHP).

**Error**
[code]

**Versions**
NextCloud
[code]

Unsplash
[code]
PHP
[code]

[2019-01-07 11:43] marius-wieschollek commented on #36
You are correct.
Support for a Nextcloud version does not mean that we also support that versions minimum system requirements. This is why the app specifies it's minimum requirements in the info.xml

PHP 5.6 is also no longer receiving security patches from the PHP developers so i would really recommend that you switch to one of the [current php versions](http://php.net/supported-versions.php) lik

[2019-01-09 00:47] jancborchardt commented on #36
@marius-wieschollek @newhinton now that Nextcloud 15 has been released for a bit longer, we could also think about increasing the min-version to 14?

[2019-01-09 09:47] marius-wieschollek commented on #36
Nextcloud 13 will be EOL in February, so i think we can raise the minimum requirement for the next release.

[2019-01-09 10:41] xenlo commented on #36
Sounds fair to me!

Let's make «_Stop procrastinate move to php7_» as good New Year's resolution. It leaves me a month to find the time to care about that. :-)

[2019-01-09 15:52] jancborchardt commented on #36
Pull request to up the version is at https://github.com/jancborchardt/unsplash/pull/37 – please review :)

[2019-01-09 15:52] #36 closed

[2019-01-18 06:56] koarlmichael opened #38 "Always the same picture"
The background does not change anymore. It always shows the same picture. Even if the URL is entered manually: https://source.unsplash.com/random/featured/?nature

[2019-01-18 10:54] marius-wieschollek commented on #38
I seems like the image is now cached by unsplash for some time.

[2019-01-20 03:57] helio4k commented on #38
I can concur I have the same issues of lately

[2019-01-20 10:01] marius-wieschollek commented on #38
This is a change made by unsplash, not by us. We can not do anything about this.

[2019-01-22 11:16] jancborchardt commented on #38
On the positive side, it sort of resolves these issues:
- background image should be cached until a login process has been finshed #2 (opened by @j-ed)
- Request: Pull image(s) in advance with cronjob to have it ready uppon loading the page #7 (opened by @konstantinwall)
- Use daily or weekly images instead of random #19 (opened by @milosz)

:wink:

[2019-01-24 21:00] jancborchardt opened #40 "Not showing only nature pictures anymore?"
Recently I got a bunch of pretty much non-nature pictures in the mix:

![unsplash not nature](https://user-images.githubusercontent.com/925062/51708067-36645500-2023-11e9-978f-71fdf382eccc.png)

![unsplash not nature face](https://user-images.githubusercontent.com/925062/51708065-36645500-2023-11e9-8482-e1b8d75a154b.png)

![unsplash not nature city](https://user-images.githubusercontent.com/925062

[2019-01-24 22:49] marius-wieschollek commented on #40
Yes, i can confirm this.

[2019-01-24 22:50] marius-wieschollek commented on #38
For me the behaviour changed again. I am now getting a redirect to a different picture each time.

[2019-01-24 23:54] CHazz commented on #40
i have this problem now :
https://images.unsplash.com/source-404?fit=crop&fm=jpg&h=800&q=60&w=1200

[2019-01-25 00:06] newhinton commented on #40
Yup, i can confirm that. It seems they either changed the api and didn't update the documentation, or the api is temporarily broken. I'd suggest to monitor this, and if it doesn't start working again, we need to find out what exactly causes this if there is no statement from unsplash

it seems
https://source.unsplash.com/1600x900/?nature,water
isnt working, but
https://source.unsplash.com/1600x900

[2019-01-25 00:11] newhinton commented on #40
I will take a look at the wikimedia commons api in the next few days, maybe it's time to switch.

[2019-01-25 10:44] tchibomann commented on #40
Yeah, noticed that too today. I've changed the header.css temporarily to the URL without get params. Works for now :D

[2019-01-25 14:56] newhinton commented on #33
@jancborchard @mwieschollek While im taking a look at wikimedia, i want to make this app more generic, so that we can provide different imageprovider from which an admin can choose. We should consider changing the appname, any suggestions there?

Some silly ideas:
Colourful
Advanced Theming
Random Images

[2019-01-25 15:06] nate2014jatc commented on #40
I'd be glad to make an edit if it fixes this. As pretty as their 404 page is, it gets boring after a while XD

[2019-01-25 15:08] nate2014jatc commented on #40
It's really strange that their API is failing on their end as well

[2019-01-25 15:35] geramaya commented on #40
A bug at Unsplash or the nc-plugin and the api call?

[2019-01-25 15:36] newhinton commented on #33
afaik 'nextcloud' is a term which is not allowed in an appname

[2019-01-25 15:53] nate2014jatc commented on #40
Seems to be at Unsplash themselves.
@newhinton discovered this, and I tried it out myself as well.

[2019-01-25 15:54] geramaya commented on #40
works! thx

[2019-01-25 16:14] felixkick commented on #40
I'm having the same problem - 404-style-background. But as it is a hosted nextcloud-instance, I can't access the css-files.

Would it be possible to create an option in the NextCloud Admin Settings tabs under "Theming":

API-Call for random image ---> Textbox

This way, you could also be more specific in the collections you want to see.

[2019-01-25 16:16] geramaya commented on #40
Hm, I think you have to wait for a patch version :(

[2019-01-25 16:17] nate2014jatc commented on #40
@felixkick @geramaya I sent an email to unsplash reporting the issue. I'll report back when(if) they get back to me.

[2019-01-25 16:37] jancborchardt commented on #33
Let’s go for **Splash**. It’s similar to the previous name, versatile and not only limited to nature if that ever changes. Think "splash of color" or "splash screen". :)

[2019-01-25 17:16] jdhirst1 opened #41 "We couldn't find that photo"
Unsplash app now only shows "We could not find that photo" image.

![deepinscreenshot_select-area_20190125120810](https://user-images.githubusercontent.com/9157196/51761087-1cb22480-209a-11e9-8bd3-081bc9b0d4d4.png)

NextCloud 15.0.2
Unsplash 1.1.3

Is anyone else having this problem? It started yesterday.

[2019-01-25 17:22] herrkirk commented on #41
Same here
Nextcloud 15.0.2
Unsplash 1.1.3

[2019-01-25 19:44] newhinton commented on #41
See #40, duplicate

[2019-01-25 19:44] #41 closed

[2019-01-25 20:10] newhinton commented on #33
@jancborchardt I have started developing a way to serve multiple different providers of images. While we are at it, what provider do we want to serve? currently i'm planing on providing unsplash and wikimedia commons, and if the postprocessing-pr is accepted a provider to serve the default backgroundimage from the normal theming

[2019-01-25 20:41] felixkick commented on #40
Found a little workaround myself: The App "Custom CSS" allows to bring in some own CSS-lines. I added

    body#body-login {
     	background-image : url('https://source.unsplash.com/collection/1751826') !important;
    }

and it worked again. Thanks !!!

[2019-01-25 21:37] geramaya opened #45 "Request: More categories of images with Unsplash"
Hey all,

The bug [#40](https://github.com/jancborchardt/unsplash/issues/40) showed me more images instead of the normal nature photos. My request is to create a configuration option to define more categories for Unsplash.

I like the replacement of:
"...
There is a line:
**background-image : url('https://source.unsplash.com/random/featured/?nature') !important;**
you can change the source of the

[2019-01-26 08:55] nate2014jatc commented on #40
I'm not holding my breath for a response. I'm really glad it got fixed though!

[2019-01-30 15:32] nate2014jatc commented on #40
Glad I didn't hold my breath!

Here's the reply;
[code]

[2019-01-31 00:53] AragurDEV opened #46 "Changing options results in an error"
When I'm trying to change options in the "Theming" options, added by this app. It reports an Error and doesn't save the change.
![Example](https://user-images.githubusercontent.com/11004008/52022840-f3aaed00-24fa-11e9-8c94-1987b4fbfb71.png)

[2019-01-31 00:59] AragurDEV commented on #46
Also the following issue is also caused by the app:
![screenshot_20190131_015507](https://user-images.githubusercontent.com/11004008/52023033-d296cc00-24fb-11e9-997a-0b3879c8cc6b.png)

[2019-02-10 13:33] newhinton commented on #38
@koarlmichael Is this issue maybe related to #40? Can this be closed?

[2019-02-10 13:35] newhinton commented on #45
this is a duplicate of #4 ;) i will close this for now, but we won't forget this request ;)

[2019-02-10 13:35] #45 closed

[2019-02-10 14:38] koarlmichael commented on #38
Yes I think so, thanks!

[2019-02-10 14:38] #38 closed

[2019-02-12 14:25] jellykells commented on #46
Same issue here on the Nextcloud 15 Snap package.

[2019-02-12 14:26] marius-wieschollek commented on #46
Can you please check the Nextcloud error log for details?

[2019-02-12 14:41] jellykells commented on #46
@marius-wieschollek I'm not seeing anything relevant in the Nextcloud log.

[2019-02-12 14:43] AragurDEV commented on #46
So my issue got fixed, after changing the protocol in the Nextcloud config to https only.

[2019-02-12 14:45] jellykells commented on #46
@AragurDEV Ah, that's probably the problem for me as well. My Nextcloud server is behind a reverse proxy which terminates SSL.

[2019-02-12 16:24] marius-wieschollek commented on #46
If you're running Nextcloud behind a proxy you need to make sure that Nextcloud is configured to trust that proxy.
The settings use a full url created by Nextcloud to save the settings. If Nextcloud is configured incorrectly this may not work.

[2019-02-12 16:24] #46 closed

[2019-02-14 10:03] bedawi opened #47 "Bug: Cannot disable on header or login page"
![nextcloud-unsplash](https://user-images.githubusercontent.com/18646682/52779104-d1ab8180-3047-11e9-82cb-93d33c297d59.gif)

I am having this weird issue that I cannot disable unsplash in the config menu. It just sets error, but there is nothing in the Nextcloud log. Any ideas? - Thanks a lot.

Unsplash V 1.1.3

[2019-02-15 10:10] marius-wieschollek commented on #47
Could this be a duplicate of #46 ? Are there any warnings from Nextcloud on the overview page?

[2019-02-15 10:27] bedawi commented on #47
Moin Marius,

yes, its very likely that this is a duplicate since I am also using Nextcloud behind a reverse proxy. Please give me 1-2 days before you close this thread. In this time I will investigate that issue and post my findings here. Thanks.

[2019-02-15 10:49] marius-wieschollek commented on #47
You can take a look at this [documentation](https://docs.nextcloud.com/server/15/admin_manual/configuration_server/reverse_proxy_configuration.html) to make sure Nextcloud behaves correctly behind an https offloading proxy.

[2019-02-15 11:23] bedawi commented on #47
Marius, again many thanks for precisely pointing this out. And indeed, its the trusted proxy setting.

To users, who use docker and have set up nextcloud behind an nginx reverse-proxy: Your can get the internal ip-addresses of your containers with this command:

[code]

With this knowledge you can add this line to include the whole internal subnet as trusted proxies in nextcloud's config.php:

`

[2019-02-15 11:23] #47 closed

[2019-02-21 18:15] jancborchardt commented on #33
@newhinton I’d say Unsplash and Wikimedia Commons are fine and enough too? There’s also Pixabay and Pexels but they both have the same license as Unsplash so we don’t really need to add them.

[2019-04-15 14:48] jancborchardt commented on #33
Heyhey @newhinton @marius-wieschollek – considering I don’t really find the time to work on this app anymore (also as the first prototype already did what I wanted and it’s technically beyond my abilities ;) I’m wondering if you would like to take over maintainership together?

Because otherwise I’d feel like I’d just be blocking progress on the app by being idle, and that’s not nice considering a

[2019-04-15 17:48] newhinton commented on #33
@jancborchardt nice to hear that you are still alive ^^ i don't think this app will require a whole lot of maintenance, so i'd be willing to help out :D

[2019-04-15 20:11] MorrisJobke commented on #33
Yep - just moving it over should work :)

[2019-04-17 18:20] jancborchardt commented on #33
Ok, so then I would move the app over to the Nextcloud organization. :) Just want to wait on an answer from @marius-wieschollek as well since it’s always best to have 2 maintainers at least.

Some other things:
- @newhinton would need to get the (or a new) publishing key for the app store releases
- We adjust the credits in the [readme](https://github.com/jancborchardt/unsplash/blob/master/README.

[2019-04-26 18:18] marius-wieschollek commented on #33
@jancborchardt I would be willing to help out with the development of the app.

[2019-05-18 20:36] newhinton commented on #33
@jancborchardt We would also need to transfer ownership in the nextcloud-appstore if we use new keys

will you have time in the near future that we can discuss it? maybe on irc or something like that?

[2019-05-28 17:06] Judocrafter opened #48 "Install"
How can install that?

[2019-05-28 17:12] marius-wieschollek commented on #48
Go into your Nextcloud, click on the profile icon in the top right corner and click on "Apps". Open the Multimedia section and search for the "Unspash" app. Click the "Download and Install" button.

You need administrative privileges in your Nextcloud to do so.

[2019-05-28 17:12] #48 closed

[2019-05-29 06:35] Judocrafter commented on #24
Is it possible to add a Collection in the URL?
like https://unsplash.com/collections/2463648/4k-wallpapers ?

Thank you

[2019-05-29 12:12] jancborchardt commented on #33
Sorry for the delay!

- [x] moved the app, we are now at https://github.com/nextcloud/unsplash – the repo name needs to stay like that for legacy reasons, but we can rename to "Splash"
- [x] created a team @nextcloud/unsplash for the team, and added @newhinton & @marius-wieschollek as maintainers: https://github.com/orgs/nextcloud/teams/unsplash/members
- [ ] we need to get a new appstore key. @Mo

[2019-05-29 12:15] jancborchardt commented on #33
Sorry for the delay!

- [x] moved the app, we are now at https://github.com/nextcloud/unsplash – the repo name needs to stay like that for legacy reasons, but we can rename to "Splash"
- [x] created a team @nextcloud/unsplash for the team, and added @newhinton & @marius-wieschollek as maintainers: https://github.com/orgs/nextcloud/teams/unsplash/members
- [ ] we need to get a new appstore key. @Mo

[2019-05-31 14:33] MorrisJobke commented on #33
Why this? Don't you have it anymore? You could reuse that?

[2019-05-31 14:33] MorrisJobke commented on #33
And if so: yes new CSR.

[2019-06-02 09:20] jancborchardt commented on #33
@MorrisJobke so I just send my part of the cert to @newhinton? I mean, doesn’t it have my ID in it?

[2019-06-05 18:18] vc7ee commented on #46
![image](https://user-images.githubusercontent.com/38327267/58979778-56203c80-87be-11e9-9f71-4dbefc9a2f75.png)
I have trusted the proxy, using Traefik.

[2019-06-05 21:00] marius-wieschollek commented on #46
Please don't take over closed tickets. If you need support please go to the forum.

[2019-06-05 21:03] vc7ee commented on #46
@marius-wieschollek Would you suggest I'd open yet an another issue? Unfortunately forums just stay empty.

[2019-06-06 15:01] newhinton commented on #33
@jancborchardt If @MorrisJobke says reusing the same cert is fine, you can contact me unsplash[enterspecialAhere]felixnuesse.de so that we can privately discuss on how to transfer the certs :D

[2019-07-02 14:05] MorrisJobke commented on #33
Correct. The cert is just a signed proof from our side. You generated the CSR with a generated secret on your side. This allows to sign new app releases and those release signatures can be verified by checking against our root cert, because it signed your secret, that is used to sign the app by yourself. So it is only personalized to you in a way that only you have access to it. So it's fine to gi

[2019-07-02 14:06] MorrisJobke commented on #33
Keep in mind that you need to send @newhinton the secret (often called `key`) and not the cert (which is the public part).

[2019-07-04 08:53] Hell-o-Admin commented on #33
Hey guys,

since unsplash seems to have had some issues with timeouts yesterday ([https://status.unsplash.com/](url)), which resulted in blank background image on my nextcloud instance, i started reading some issues in this repo.

First of all i wanted to thank you very much for your great work on this app! I love to be suprised by a nice picture on login.

I tought you might be interested in some

[2019-07-04 09:03] newhinton commented on #33
@Hell-o-Admin

thank you for your feedback!

i'll write some lines to your questionv

1) I will need to see if this can added in the future. We have some licensing issues which block his pr until we take a closer look at it. However, steps have been taken to include this in the future (but don't wait for it, it may take a while)

2) You should already be able to disable this on a per user basis, b

[2019-07-15 14:15] jancborchardt commented on #33
I guess we can close this issue as it’s transferred? :)

@hell-o-admin thanks or the feedback! It’s always best to check if issues already exist (in that case comment there) or if they don’t open separate issues for separate things.

[2019-07-15 14:15] #33 closed

[2019-07-21 17:10] RyukDE opened #49 "Changing color of nextcloud theme"
I would like the app to change the main color of the installation according to the image.
For getting the color may it would work if the image is resized to 1px/1px.

[2019-09-20 15:05] livier commented on #49
Try "Theming" or "custom css" for that ...

[2019-09-20 15:18] livier commented on #19
I found a solution for customize backgroung color and image choice.
Install "Custom CSS" and then insert anything like
[code]
Enjoy

[2019-09-20 15:29] livier commented on #4
I found a solution for customize backgroung color and image choice.
Install "Custom CSS" and then insert anything like

body#body-login
{
    background-color    : #700 !important;
    background-image    : url('https://source.unsplash.com/random/featured/?earth-planets') !important;
}

Enjoy

[2019-10-01 18:42] j-ed opened #50 "Nextcloud 17 compatibility"
@jancborchardt Can you please provide an updated version of this app.

[2019-10-06 19:13] jancborchardt commented on #50
So @nextcloud/unsplash took over maintainership of the app, namely @newhinton and @marius-wieschollek :)

[2019-10-06 20:42] newhinton commented on #50
@j-ed

sure, i will solve this shortly, in the next few days! :D

[2019-10-09 09:10] newhinton commented on #50
See #51

[2019-10-15 12:31] R7800 commented on #50
Removed 1.1.3, installed 1.1.4 but images don't load on NC17 (both php-fpm ang webserver restarted). Images were loaded on NC16 with same PHP and webserver versions.

[2019-10-15 13:01] waja commented on #50
I'd recommand to try Incognito Modus of your Browser to test the installation.

[2019-10-16 08:41] R7800 commented on #50
Found source of this problem - Privacy Badger has blocked images.unsplash.com and source.unsplash.com, allowing cookies from these domains solves problem.
I never changed Privacy Badger's setting as in previous NC versions images were loaded.

[2019-10-19 10:31] #50 closed

[2019-10-19 10:32] newhinton commented on #49
This is a todo, and there is a proof of concept for that. It will take some additional time to get it ready for a release. So stay tuned!

[2020-01-04 08:25] Oclair opened #52 "Anyone else notice images have stopped?"
I updated NC today to 16.0.7 and noticed the unsplash images are no longer displaying.
It seems it's been quiet here for a while, do we need to provide a key per instance or something?

Thanks for a great plugin!
Happy New Years,
OC

[2020-01-04 10:42] marius-wieschollek commented on #52
The app is working fine for me. Could it be that the update disabled it or that the background images were disabled in the settings?

[2020-01-05 15:39] woelk2 opened #53 "Image Tags"
Hey dudes, Jan-Christoph & Co., thanks for the nice work! What I'm thinking for months though is - what a pity I can't see the tags for the beautiful images. It would be so good to have a little button on the login screen that you can click for a little pop-up to appear showing the image tag from Unsplash.  Don't you think?

Cheers to you!
woelk

[2020-01-06 17:50] Oclair commented on #52
Specifically without much investigation, I believe the new suggested nginx server settings have changed the ability for remotely hosted content on a logged in page.

So my settings with nginx we're made compliant to block the vulnerability over here:
https://nextcloud.com/blog/urgent-security-issue-in-nginx-php-fpm/

[2020-01-06 18:04] Oclair commented on #52
my previous post is an important topic but unrelated to the issue,  Privacy Badger on Firefox had unspash blocked (how did they get there?)  It appears there may be some leaked info being sent to unsplash.  It may be a good time to mention we might need an ethical alternative to unsplash.

Thank you all for your contributions to this project and the community in general!

[2020-01-06 18:04] #52 closed

[2020-01-20 10:15] j-ed opened #54 "Nextcloud 18 compatibility"
@newhinton, @marius-wieschollek can you please provide an updated version which supports Nextcloud 18.

[2020-01-20 10:17] newhinton commented on #54
Ah sorry yes. Will be a few days though :/

[2020-01-23 09:11] newhinton commented on #54
#55

[2020-01-23 21:48] oucil commented on #54
+1

[2020-01-29 00:49] newhinton commented on #54
https://github.com/nextcloud/unsplash/releases/tag/v1.1.5

[2020-01-29 00:49] #54 closed

[2020-02-08 23:12] RRRRRm opened #58 "How can I change the picture source"
I am in China. Our government have blocked unsplash.com .

I have some other random picture API that I can access, like `https://api.ixiaowai.cn/gqapi/gqapi.php` `https://img.xjh.me/random_img.php`

What should I do to change the picture source.

[2020-02-10 10:22] newhinton commented on #58
Hope you are doing fine!

To your question:

First, you need to allow that url in this file, just copy the line and enter the domainname there:
https://github.com/nextcloud/unsplash/blob/f77d6421a83e838eb4a3b5e4fdbd607c165058fc/lib/AppInfo/Application.php#L77

then, you need to edit the used url in the css file here:
https://github.com/nextcloud/unsplash/blob/f77d6421a83e838eb4a3b5e4fdbd607c165058

[2020-02-15 05:19] RRRRRm commented on #58
It works, thank you!

[2020-02-15 05:19] #58 closed

[2020-05-19 11:03] vodkabashful opened #59 "Obscene Images from unsplash.com at NextCloud"
Sometimes we get obscene images as nextcloud login /download background pictures, is it possible to filter such images?
![001](https://user-images.githubusercontent.com/49443081/82318933-fae85980-99d0-11ea-9b83-77d42c78ddd5.png)

[2020-05-19 11:16] marius-wieschollek commented on #59
With the unsplash random image url we can not spcify what should _not_ be on the image.

But maybe we can fetch the image from `https://source.unsplash.com/featured/?nature,wallpaper`. This is also random but from their featured collection (and not all images) and those seem to be more sfw.

[2020-05-19 11:17] newhinton commented on #59
That is most unfortunate!

I will have to look at the api, but it seems they have a filter for that:
https://unsplash.com/documentation#content-safety

you can try to edit the url to your liking if you have write access to the appdir

[2020-05-31 22:07] robinmetral commented on #59
@newhinton this param wouldn't work because it's from the Unsplash API, and this plugin uses the Source API: https://source.unsplash.com/

It seems that the URL is already trying to get an image from the `featured` images:

https://github.com/nextcloud/unsplash/blob/f77d6421a83e838eb4a3b5e4fdbd607c165058fc/css/login.css#L4

But the API is used incorrectly. `random` shouldn't be in the URL, and the

[2020-06-01 19:09] #59 closed

[2020-06-01 19:10] newhinton commented on #59
@robinmetral Sadly, i cannot replicate the issue (due to the random nature of the issue). However, i have confirmed that your changes are working, therefore i will give it a try and i will release it.

[2020-06-05 17:14] newhinton commented on #59
I prepared an release which should pop up soon in your instances

[2020-06-08 17:35] Valdiralita commented on #34
I can't reproduce this issue anymore. Maybe it was fixed with a new app/nextcloud version or with a firefox update.

[2020-06-08 17:51] krejcar25 opened #62 "Hard to read text in header"
With some images the labels of apps in header are hard to read as the text is transparent a little. It might help to put some kind of darkish transparent-ish background to them if the header images are enabled.

![Screenshot 2020-06-08 at 7 40 58 PM](https://user-images.githubusercontent.com/7903442/84062867-513d2c80-a9c0-11ea-9714-3db5c9d656df.png)
vs.
![Screenshot 2020-06-08 at 7 48 07 PM](https

[2020-06-09 01:35] jancborchardt commented on #34
@Valdiralita thank you for the update, closing then! :)

[2020-06-09 01:35] #34 closed

[2020-07-05 00:23] splashote commented on #6
Hey!
I'd totally love this feature!
I will ask around if I find someone who wants to try it.

[2020-08-12 09:17] zarma30 opened #63 "Suggestion: be able to set the Unsplash parameter for API from the web"
Hi,

Your Unsplash pluggin is great, but from my point of you should be accesible for non technical users, letting them changing the API parameter from the web interface (f.eg:
- https://source.unsplash.com/user/erondu/1600x900
- https://source.unsplash.com/user/rischfre/likes/1600x900
- https://source.unsplash.com/collection/190727/1600x900
)
and not letting the nature themes fixed or changing th

[2020-09-23 10:25] edo0 opened #64 "Set header picture as "off" globally? (also for "shared files screen"?)"
System details:
- NC 19.3.0
- Debian 10.
After installing Unsplash, I have realized that the header setting is automatically enabled globally for all users. I have proceeded to disable it on the few accounts on my instance, only to discover that it will _persist for non-registered users_ → any time I share I file or a poll externally, the header will present background Unsplash pictures.
Is there

[2020-09-23 10:29] marius-wieschollek commented on #64
You can set this in the "Theming" section of the Nextcloud admin settings

[2020-09-23 14:29] edo0 commented on #64
Good to know.
I was keeping Theming disabled, that's apparently why I could not fix it. So for anyone who may have the same issue, please do as follow:
- enable Theming
- from Theming, disable random pictures in headers
- disable Theming
- Enjoy!

[2020-09-25 18:55] Valdnet opened #65 "[NC 20 RC2] Log message: /appinfo/app.php is deprecated"
In the NC20 RC2 version, the following message appear in the log:
![obraz](https://user-images.githubusercontent.com/47037905/94305072-eadd1980-ff70-11ea-9a35-0df08f8254c1.png)

App:
Splash 1.1.6

### Server configuration

**Database:**
phpMyAdmin

**PHP version:**
7.3.16

**Nextcloud version:** (see Nextcloud admin page)
20.0.0 RC2

[2020-09-26 12:52] Valdnet opened #66 "Compatible with NC20"
Splash is not compatible with Nextcloud 20.

[2020-09-30 19:48] #64 closed

[2020-10-11 21:03] Weasy666 opened #67 "Dashbord Background Image"
I don't know if it is possible, but it would be nice, if unsplash could also change the background image of the newly added dashboard.

[2020-10-11 21:28] newhinton commented on #67
This seems like a good idea! I will see if i can get around that in the upcoming week

[2020-10-11 21:29] newhinton commented on #66
See [comment](https://github.com/nextcloud/unsplash/issues/67#issuecomment-706770823) :D

[2020-10-11 21:33] Weasy666 commented on #67
Very nice! Thank you for that!

[2020-10-15 09:39] newhinton commented on #66
@Valdnet Do you have issues with Splash besides the warning that it is an untested app? I will fix the wrong version number, but besindes that, i cant find issues with unsplash

[2020-10-15 09:49] Valdnet commented on #66
@newhinton No. I have no problems with Splash. The only thing that occurs is #65.

[2020-10-15 13:23] newhinton commented on #67
It seems that this is not possible at the moment. (At least not in any reasonable way). It can be implemented when the dashboard exposes the background image.

https://github.com/nextcloud/server/issues/23476

[2020-10-20 18:09] newhinton commented on #66
I released 1.1.7 which restores compatibility. It does not fix #65, which will be fixed later.

[2020-10-20 18:09] #66 closed

[2020-10-22 10:53] tigernero79 opened #68 "Password protected or expired nextcloud links do not have your random images"
i noticed that if i access a password protected nextcloud link the acecsso page shows the nextcloud base background and does not use your random backgrounds, is the fact wanted or to be implemented splash in the url with password?

as in the attached photo I have a fixed background not your random ones
![Immagine](https://user-images.githubusercontent.com/35575744/96862275-8b860280-1465-11eb-8196-

[2020-11-30 14:52] hype11 opened #69 "Javascript error at settings page"
If I goto the settings page (with admin rights) I get the following javascript error:
![nextcloud_firefox_error](https://user-images.githubusercontent.com/33953581/100624492-d0823c00-3323-11eb-814b-a977c4d5651a.png)

Version: - Splash 1.1.7
             - nextcloud 20.0.2

[2020-11-30 17:29] marius-wieschollek commented on #69
Is this on the personal settings page or the Nextcloud theming page?

[2020-12-01 08:40] hype11 commented on #69
personal settings
nextcloud_server/settings/user

[2020-12-09 22:36] HOCKULUS opened #70 "Own picture gallery"
An own picture gallery would be very nice.

[2020-12-17 22:47] mergey opened #71 "NC 20 - no search icon shadow"
the search icon of the new unified search in nc 20 got no shadow in (un)splash

if there is a mostly white image, the search icon disappears

thanks for the great work so far :)

[2020-12-23 22:23] oswaldo-be opened #72 "NC20 Login screen cannot load picture"
It says: We couldn't find that picture in big letters

[2020-12-24 04:52] binhndicts commented on #41
We got the problem again, once last night and once this morning

[2020-12-24 09:10] TartanPaintPot commented on #72
I have a self hosted system, that's showing the same - "We couldn't find that picture"
Tried disabling/enabling to check, even removed and added again - still showing the same message.

All my users love the varying background pictures. Hopefully it's just a case of a referenced directory having moved, and can be repointed etc.

[2020-12-24 09:36] marius-wieschollek commented on #72
This seems to be an issue on the side of unsplash.
The provide an url that should redirect to a random image matching given search terms.
We use the url https://source.unsplash.com/featured/?nature to find images related to nature. This url always returns the not found error.
If another search term is added, the url works again, see: https://source.unsplash.com/featured/?nature,water

[2020-12-24 10:38] AlexG-78 commented on #40
it starts to happen again since yesterday

[2020-12-24 14:45] JMoVS commented on #72
Hi, if I click on your second link, it also doesn't work (I also face the issue #72 at my instance)

[2020-12-24 15:23] e-mojo commented on #40
Same here, today.

[2020-12-24 22:33] chillriver commented on #72
Hello together, in my case the second link works. Is there a way to change the term as workaround? I love this feature.

[2020-12-25 09:17] marneu commented on #72
Suggestion and just an Idea: Make it a bit more comfortable for example include a fixed table array with either date(s|ranges) like Christmas, Silvestre and other world wide valid special days a.s.o. and set a value in the array with corresponding keywords like _?Xmas_ etc.
Alternate would be to allow a personal setup keyword in user settings - or do both ... would be nice -> feature request?

[2020-12-25 22:44] deljones opened #73 "Unsplash stopped. Suddenly"
Same issue. Just stopped receiving pictures.

NC20.0.4

Worked perfectly until about three days ago.

Dj

[2020-12-26 00:09] Ivar418 commented on #72
i also have the same issue for my self hosted nc server on my raspberry pi. it shows the no image found. also on the statusbar if enabled

[2020-12-26 10:47] jdhirst1 commented on #41
@binhndicts Just tested it now, seems to be working fine for me. Are you still experiencing this issue now?

[2020-12-26 12:01] crewdk commented on #72
Thnx, this works for me.

For all: you could just edit search terms in files:

/apps/unsplash/css/header.css
/apps/unsplash/css/login.css

[2020-12-26 14:12] lovewebservices opened #74 "Splash app fails with message unable to find that photo on recently upgraded 19.0.6 and 20.0.4"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Steps

[2020-12-27 10:46] meepmeep commented on #74
Duplicate with https://github.com/nextcloud/unsplash/issues/72

[2020-12-27 10:46] meepmeep commented on #73
duplicate with https://github.com/nextcloud/unsplash/issues/72

[2020-12-27 10:51] meepmeep commented on #72
It looks like the "nature" category doesn't work anymore.

From the unsplash website : https://source.unsplash.com

- If I try the https://source.unsplash.com/featured/?nature it always send an error.
- But https://source.unsplash.com/featured/?water doesn't

So i modify files from https://github.com/nextcloud/unsplash/issues/72#issuecomment-751349184  to set :
https://source.unsplash.com/featured

[2020-12-27 19:15] TartanPaintPot commented on #72
OK, all fixed after I edited the 2 files in the following location:    /var/snap/nextcloud/current/nextcloud/extra-apps/unsplash/css/header.css & login.css

to have the following URL https://source.unsplash.com/featured/?nature,water  and all working again.

Hope this helps anyone else out - if you've installed NextCloud with snap, that is....

[2020-12-27 20:02] chillriver commented on #72
This workaround works well for me. Thanks.

[2020-12-28 01:01] thilojaeggi commented on #72
Using https://source.unsplash.com/featured/?nature,nature works too.

[2020-12-28 02:32] Ivar418 commented on #72
That makes so little sense that it does. Funny😂

[2020-12-28 10:55] marneu commented on #72
@meepmeep: https://source.unsplash.com/featured/?architectural works too. (architecture!=architectural)
But this is this the time for ?silvester ;)

[2020-12-29 18:18] Superyorch commented on #72
I have modified both files (header and login) and added water at the end, nature again, architectural and still in all cases receiving the same error. For some reason it seems as if it is not even bothering to check the url saved in those files.

[2020-12-29 18:31] Chia-KY commented on #74
Turns out the background image url (https://source.unsplash.com/featured/?nature) isn't working. So should be an "issue" with Unsplash. For now, I just change my **header.css** and **login.css** background image to:

`background-image    : url('**https://source.unsplash.com/1920x1080/?scenery,nature**') !important;`

[2020-12-29 19:06] marius-wieschollek commented on #74
This is a duplicate of #72

[2020-12-29 19:06] #74 closed

[2020-12-29 19:12] Rav4s commented on #41
Same here with 20.0.4snap1. About 4 out of 5 refreshes show "we couldn't find that photo."

[2020-12-29 19:27] newhinton commented on #72
I will fix that, but it will probably take me some time since i am currently fixing my own nextcloud. i hope that i can get an update out around new year's eve, with the improvement suggested by @marius-wieschollek

[2020-12-30 15:20] Superyorch commented on #72
thank you! After fiddling around with other tokens like: water, tech, wallpapers, architecture, etc they all seem to work perfectly and the only broken one is nature. Hope that helps narrow it down to the culprit. Happy new year!

[2020-12-30 22:06] Valdnet commented on #72
I propose to add the link change function from the Administrator Panel :grin:.

[2020-12-31 07:12] arathink opened #75 "we coudnt find that photo"
we coudnt find that photo

[2020-12-31 07:14] arathink commented on #75
we couldnt find that photo

[2020-12-31 09:35] marius-wieschollek commented on #75
Before you open a new issue, please check if there is already an existing issue about your problem.
If not, please provide all relevant information about the problem and how to reproduce it.
"we couldnt find that photo" is not helpful at all and if i didn't know that this issue is a duplicate of #72, i would have no clue at all what you're talking about.

[2020-12-31 09:35] #75 closed

[2020-12-31 09:36] #73 closed

[2021-01-01 17:27] ms158 commented on #41
Same here  20.0.4

[2021-01-03 11:31] Valdnet commented on #72
@newhinton The solution in PR # 76 does not fix the bug. After a few views of the NC page, the message "We couldn't find that photo" is displayed again.

[2021-01-03 12:14] wilfreddijksman commented on #72
The url https://source.unsplash.com/featured/nature works for me (without the question mark).

[2021-01-03 16:03] Valdnet commented on #72
@wilfreddijksman The link without a question mark displays images from different groups (not only from nature).

[2021-01-03 16:45] marius-wieschollek commented on #72
I can confirm that my PR does no longer fix the issue. Also https://source.unsplash.com/featured/?nature,water does return images that clearly don't match (like fireworks)

The api seems to be really broken right now

[2021-01-05 11:02] Corum92 commented on #72
Thanks for fixing this (if done actively).  Works again on my end with lovely pictures from oranges, nature et al.  Cheers!

[2021-01-05 11:17] newhinton commented on #72
We didnt really do anything, but it seems that the issue was not on our end. For the future i will have to update the app to easily switch categories, so that this will not happen again

[2021-01-06 18:18] tom-ch1 commented on #72
`https://source.unsplash.com/1920x1080/?nature,,` seem to work (...right now, for me... ;-) )

[2021-01-06 18:30] dartcafe commented on #67
Anyway an API for retrieving the last or a new picture would be great, so other apps could consume this (and the dashboard as well).

[2021-01-06 21:55] Corum92 commented on #72
And gone again.  Error message is back on ...  Maybe it is a slack joint @unsplash ;-)

[2021-01-09 10:01] armaccloud commented on #72
I had contact with Unspash Support; apparently the source.unsplash.com URL is not supported anymore.
I think this requires a structural change in the unsplash app.

![image](https://user-images.githubusercontent.com/9272078/104088818-e01d6a80-5269-11eb-9dba-94cad192a5b3.png)

[2021-01-09 10:06] newhinton commented on #72
that is good to know! thanks for sharing this with us.
I already have some baseline work for other imageprovider, so i'll have to finish those rather soon :D

[2021-01-13 08:30] ghovmand commented on #41
302 from http request

[2021-01-16 16:43] v0d commented on #4
This does not easily work anymore due to:

[code]

[2021-01-16 22:33] newhinton commented on #67
I just released [1.2.0](https://github.com/nextcloud/unsplash/releases/tag/1.2.0) with the dashboard-update!

[2021-01-16 22:33] #67 closed

[2021-01-16 22:34] newhinton commented on #65
This is released in (1.2.0)[https://github.com/nextcloud/unsplash/releases/tag/1.2.0]!

[2021-01-16 22:34] #65 closed

[2021-01-17 09:05] junpet commented on #67
I see `We couldn't find that photo` background, when I set `Set random image as dashboard background`. I can't see any error in the Settings > Logging. The Log in page is working fine with random background image.

I use Nextcloud 20.0.5 (Docker Alpine version).

Let me know if you need more info.

[2021-01-17 13:57] lyn1337 opened #80 "[NC<=19] [v. 1.2.0] Error: Call to undefined method"
Just updated to version unsplash 1.2.0 using occ and NC 19.0.7.1.  This leads to the following error:

`occ log:watch`
[code]

[2021-01-17 14:34] marius-wieschollek commented on #80
I guess that did not exist in NC 19.
If you edit [this line](https://github.com/nextcloud/unsplash/blob/master/lib/AppInfo/Application.php#L45) and replace "get" with "query", it should work.

[2021-01-17 15:25] lyn1337 commented on #80
@marius-wieschollek That suppressed the err msg but the app doesn't seem to work.

[2021-01-17 19:11] DJCrashdummy commented on #80
must confirm this issue for NC 19 (and 18)!

[2021-01-17 20:44] marius-wieschollek commented on #80
You can try the PR i just opened. It should fix the issue.

[2021-01-19 00:20] feligato commented on #80
Hi there, just want to add that, if you update via the web button, it would give you a Internal Server Error
![image](https://user-images.githubusercontent.com/18687345/104973249-e4b4f200-59d2-11eb-9069-52923368a17c.png)

Got to delete the app from the directory manually as said above.

Log
[code]

[2021-01-19 07:49] Netsurfer70 opened #82 "[NC20] [v. 1.2.0] Doesn't work anymore"
Updated yesterday to 1.2.0 and had nice pictures again.

Today, same error as before.
Not changed or updated anything else.

[2021-01-19 09:30] nmatton commented on #80
Exact same issue, updated from web interface
Got the following log

Had to disable using terminal
`sudo -u www-data php /var/www/nextcloud/occ app:disable unsplash`

Running Nextcloud 17.0.2.1
PHP Version : 7.3.11

[2021-01-19 10:31] alanqchen commented on #80
PR #81 does appear to fix this issue for me, though the 404 image is still displayed (issue #72).

[2021-01-19 11:51] rainerzufall commented on #80
Also got an internal server error after updating to unsplash 1.2. on NC 19.0.3. My Nextcloud Provider Hetzner investigated and had to deactivate unsplash for me, because I could not access my NC admin panel, although I was logged in.

[2021-01-19 12:07] newhinton commented on #80
I just released the hotfix, sorry for the inconveniences! This one slipped. Please report back if you have further issues!

[2021-01-19 12:11] newhinton commented on #82
This is very likely an duplicate of #72.

The issue is with the unsplash api, which is not really stable at the moment.

[2021-01-19 12:11] #82 closed

[2021-01-19 12:54] lyn1337 commented on #80
Just tested v. 1.2.1 from the releases on my NC 19 installation. Does seem to work now.

[2021-01-19 13:02] lyn1337 commented on #80
@rainerzufall Folks without access to the command line tool or a similar level can actually break their entire NC installation because of incompatibilities, just by updating or installing an app. 😬

[2021-01-19 13:42] rainerzufall commented on #80
@lyn1337 you are right. 😔 I usually always wait while after new releases of apps to minimise this risk. I obviously didn't do it this time. 😖  I will definitely wait for some more confirmations that it works before I activate the app again.
Thanks to marius-wieschollek and newhinton for fixing it so quickly!

[2021-01-19 14:17] DJCrashdummy commented on #80
@feligato, @rainerzufall & @lyn1337: you can actually deactivate every app manually by simply setting `appid`->`enabled` in the table `NC_appconfig` from `yes` to `no`, no mater if done by commandline or GUI (which also most shared hoster provide, even if you don't have ssh).

[2021-01-19 14:32] DJCrashdummy commented on #80
i also tested version 1.2.1 from the store with NC 19 (and 18 & 17)... and all 3 still work. :wink:

[2021-01-19 15:00] lyn1337 commented on #80
@DJCrashdummy While that's a method I'm not convinced it's making it any easier or more accessible to some users.

Looks like I can close this issue now, thanks everyone involved.

[2021-01-19 15:00] #80 closed

[2021-01-24 02:55] tamburra commented on #62
Nextcloud has there own gradient that shows up when you scroll 70px down the screen.  You can change this value to 0px instead to always keep the gradient.
[code]
<img width="1440" alt="Screen Shot 2021-01-23 at 9 55 24 PM" src="https://user-images.githubusercontent.com/16267805/105619972-bf0a5d00-5dc5-11eb-8257-a56d81fcac7f.png">

[2021-02-27 16:51] livier commented on #70
+1
A folder assigned for the gallery (with photos from the organization) inside Nextcloud would give full control.

[2021-02-27 17:09] newhinton commented on #70
The issue with that is that we cant use a folder from a user. We cannot define a default user for this, and we should not rely on users to provide image that way. Generally, this needs to be more "stateless", so that this app works independend of users.

I know this is a request that many people have, and i am working on something similar. (#44)
I will close this issue in favor of #5, but this is

[2021-02-27 17:46] livier commented on #5
As [asked](https://github.com/nextcloud/unsplash/issues/70#issuecomment-787103865) here are some suggestions.

I see (and have) many suggestions for source off pictures to show.
It could be selected in the setup space. I hacked that [here](https://github.com/nextcloud/unsplash/issues/4#issuecomment-533601216) using "Custom CSS". I can change the url source of pictures. I do it changing search word

[2021-03-08 17:00] goldgoldfish opened #84 "Compatibility with NC21"
Is it planned that unsplash will be compatible with NC21 in the future?

[2021-03-20 13:09] RkuBr commented on #84
Any news about an update of Splash for NC 21 ? I miss my random / beautiful screen ! :)

[2021-03-20 13:19] newhinton commented on #84
I'll take care of this today!

[2021-03-20 13:47] newhinton commented on #84
https://apps.nextcloud.com/apps/unsplash
The update should be there soon!

[2021-03-20 13:47] #84 closed

[2021-03-20 18:57] RkuBr commented on #84
Thank you so much ! You make my day ;)

[2021-03-21 11:08] Valdnet opened #85 "Translation in Transifex"
I propose to add a project for translation in Transifex. You can do this with your team or submit a request to join the Nextcloud team. This will allow you to systematically translate the added text strings and translate into multiple languages :wink:.

[2021-04-22 22:45] adripo opened #86 "Application is not setup via query() but directly at <<closure>>"
Hello,

After enabling debug on Nextcloud 21, I get this error in the logs.

[code]

As I read on [this issue](https://github.com/nextcloud/maps/issues/384) for calendar the solution should be something like [this](https://github.com/nextcloud/calendar/pull/1958/files#diff-079bbe455bfa9aeaf363ae1bc6415ba0R25).

[2021-04-27 03:30] rong280 opened #87 "After using this theme, my login interface will become very slow，Is it due to the network loading pictures?"
If the image is loaded from the network, will it be cached?

In addition, can I set to display only the pictures in the local folder?

[2021-04-27 10:12] newhinton commented on #87
1) your browser should cache the image for a brief time, but generally it is fetched regularly.

2) Local folders are not supported currently

Can you check your network request tab in your browser and look for the requests that take the most time?

[2021-04-27 10:13] newhinton commented on #86
Thanks for the report, i will check compatibility with nc21 at the weekend. (And restore compatibility where required)

[2021-04-29 18:34] livier commented on #4
Still work here.

[2021-05-01 14:41] rong280 commented on #87
Ok，Thank you

[2021-05-01 14:41] #87 closed

[2021-05-06 14:18] vcbranco commented on #63
Great idea,

A way of being able to choose a Unsplash collection

[2021-05-11 18:51] Darkknight33 opened #88 "Error message 'Failed' when changing settings"
New installation of Nextcloud 21 via docker w/mariadb backend, added unsplash through apps. No other apps are installed.

Whenever I attempt to change any settings to unsplash via the check boxes, a red 'failed' message appears and the changes do not apply.

No error messages appear in the console.

Attached screen shots.

![splash2](https://user-images.githubusercontent.com/571187/117868961-36c2a

[2021-07-07 17:05] adripo opened #89 "Update Nextcloud version 22"
Please update for nextcloud version 22.

[2021-07-08 15:32] newhinton commented on #89
The app still works as expected, you can enable it with "enable untested app" if you have not done so already.
I will change the version and upload a new release tomorrow morning

[2021-07-11 08:11] #89 closed

[2021-07-11 08:12] newhinton commented on #89
https://github.com/nextcloud/unsplash/releases/tag/1.2.3

[2021-07-11 11:28] adripo commented on #89
Thank you!

[2021-08-25 13:35] MrLoverLoverMMMM opened #90 "Feature Request - Support for Screens > 1080p"
It would be nize if the app has full scalable pictures, that depending on which screensize the client has, the screen will be filled beautifully. Especially at 4k Screens.
Alternative it would be nice if the admin can select the resolution of the pictures in the settings.

[2021-09-08 13:54] MrLoverLoverMMMM commented on #90
OK, thanks for the statusupdate. I would be happy about such a feature. Moreover the pictures should be in the new picture formats like WebP and AVIF for even faster loading.

[2021-09-08 14:13] MrLoverLoverMMMM commented on #90
+ If possible an option that the picture is chust variable at the login sceen not in the whole cloud and header. Otherwise every change in an app triggers a new picture.

[2021-11-15 10:12] lineg-it commented on #88
Same issue on my side since Nextcloud 21.0 with postgres 14.
Updated to NC 22.2.1, but the issue still remains.

I've also deinstalled the app and reinstalled, but nothing works.
Found nothing in the nextcloud-logs, no network issue (firewall), nor any other logs listed an issue.

[2022-01-03 14:31] MrLoverLoverMMMM opened #91 "Feature Request for Checkbox to show splash picture only at login screen"
If possible an option that the picture is just used at the login sceen not in the whole cloud, especially not in the header.
Otherwise every change in an app triggers a new picture + Elements in the header (menu of nextcloud) are depending on the picture not readable anymore.

Alternative the pictures from the splash collection could be reloaded only at the login screen and not on each click in th

[2022-01-03 14:34] marius-wieschollek commented on #91
You can configure this in the settings. In the Admin settings in the "Design" section or in the user settings of your account in the "Splash" settings.

[2022-01-03 14:34] #91 closed

[2022-01-03 14:57] MrLoverLoverMMMM commented on #91
perfect, thanks :)

[2022-03-06 09:03] crasherwosa commented on #90
I have also installed the Splash app. However, I also find it a pity that the images are loaded unsharp.

Especially in this day and age with larger screen resolutions, the images should be loaded in a larger format.

Optinal it would also be an added value that it can each set the format size via a Einstellugnsmöglichkeit, in the app.

Is there anything planned in the meantime? Or can I manually

[2022-03-07 21:56] newhinton commented on #90
@crasherwosa You can always edit the unsplash url manually. You need to edit https://github.com/nextcloud/unsplash/blob/134ccfeafe6b192529482449cc0cf05aa60f3feb/css/login.css#L4

this file for the login, there you can choose what to display. If you find the appropriate url for the unsplash-api you can control it by yourself

[2022-03-08 07:55] crasherwosa commented on #90
Thank you for your feedback. I do not host my Nextcloud myself and do not have access via FTP/FTPS to the files. I therefore only have access to the web view. Can I therefore also make the settings/link change? And how?

[2022-03-09 09:21] MrLoverLoverMMMM commented on #90
If you use that url in the app:
https://source.unsplash.com/featured/3840x2160?nature,nature
It will be fixed ;)
I suggest to implement a drop down or text input field and make the resolution a variable.
like: https://source.unsplash.com/featured/WIDTHxHEIGHT?nature,nature

[2022-03-09 11:27] crasherwosa commented on #90
But where can I store this link in the app? I have but no possibilities to change the link in the app? The only thing I can do under Settings/Splash is this?:

<img width="1003" alt="Bildschirmfoto 2022-03-09 um 12 22 03" src="https://user-images.githubusercontent.com/100469986/157432207-534c3ffd-23a3-40bf-8f0c-f6bf9b27977c.png">

- Use a random image as background of the navigation bar
- Use a ra

[2022-03-09 11:45] MrLoverLoverMMMM commented on #90
This is currently not possible.
But I hope someone will implement it :)

[2022-03-09 17:26] crasherwosa commented on #90
Ahh okay, I thought that was already possible now and I didn't see it.

That would be very very good indeed. Let's hope for the best :).

[2022-03-16 11:00] newhinton commented on #90
@MrLoverLoverMMMM @crasherwosa There is already a pullrequest that implements more provider, but it needs a technical review. If you are up for it, you could take a look!

[2022-04-09 11:44] chrisbley opened #92 "Picture background used for navigation bar, even if "use pic for nav bar" is deactivated -> readability issue"
![image](https://user-images.githubusercontent.com/97885880/162572649-df29d61d-5d83-4902-adfd-43bcba1aee65.png)
![image](https://user-images.githubusercontent.com/97885880/162572692-18d4aef0-5c1e-4a63-bcf1-123d61471fe1.png)

checkbox in Administration / Design not doing what it's supposed to do: keep the nav bar free from pic

[2022-04-09 12:26] newhinton commented on #92
Which version of nextcloud and splash are you using?

[2022-04-09 12:38] chrisbley commented on #92
I'm using linuxserver/nextcloud:23.0.3-php8 with Splash 1.2.4

[2022-04-09 12:40] newhinton commented on #92
hm, i can't reproduce that. Have you tried flushing the cache? Or using a different browser?

[2022-04-09 14:41] chrisbley commented on #92
thanks for looking into it! yes, flushing the cache doesn't help, same result on brave and edge browsers.

[2022-04-09 14:44] MarcoLeongDev commented on #90
For those who are finding the css files, they are `login.css` and `dashboard.css` at directory `/var/www/html/custom_apps/unsplash/css`

[2022-04-11 08:31] newhinton commented on #92
Do you have the custom-css app activated? Your bar seems strange, why is it so big?

[2022-04-12 13:59] newhinton commented on #92
Is that your dashboard?

[2022-04-12 16:20] chrisbley commented on #92
No custom css app, but I used the margin 0px work around on dashboard.css since my post.
Yes, this was my dashboard.

Mit freundlichen Grüßen | Best regards

Christoph Bley
Diplom-Tonmeister HfM Detmold

---

Christoph Bley
Freilandstr. 6
82178 Puchheim

+49 179 5629366
***@***.***
www.christophbley.com
Am 12. Apr. 2022, 15:59 +0200 schrieb Felix Nüsse ***@***.***>:

[2022-04-12 17:27] newhinton commented on #92
In that case it is working as intended. There is a seperate switch, the third one in your screenshot, that controls the dasboard background.

[2022-04-12 17:43] newhinton commented on #92
No, the navigation bar in the dashboard has a transparency applied so that the default blue cloud will be fully visible. That is intended by the nextcloud design team, and it works with most pictures, and nextcloud ships with some images that work well.

And the splash app follows this logic. We just replace the background image, but do not edit the transparency of the navigation bar .

You can us

[2022-04-12 17:43] #92 closed

[2022-04-12 17:47] chrisbley commented on #92
Understood, thank you very much!

[2022-04-20 20:01] crasherwosa commented on #90
I would love to do it, but unfortunately have no experience at all how to do something like this. Was hoping for someone else :)

I don't have FTP access to my Nextcloud.

[2022-05-01 17:30] newhinton commented on #90
I have updated the dev-branch. It contains my current iteration of more customizability and more image-provider. Testing is higly appreciated!

[2022-05-01 17:32] newhinton commented on #49
Okay i think i initially misunderstood the question. We will not be able to get a primary color FROM an image and apply it to the instance. However, we can apply the instance color to any image.

I have updated the dev-branch. It contains my current iteration of more customizability and more image-provider, including colors. Testing is highly appreciated!

[2022-05-01 17:33] newhinton commented on #5
I have now implemented the basis for this. There is a quick way to add new provider, so if you know any provider feel free to post a link with the public api!

[2022-05-01 17:36] newhinton opened #93 "Only show user preference if admin enabled them"
The user should not be able to enable dasboard or navbar pictures if the admin disabled them.

[2022-05-01 18:24] newhinton commented on #88
Is this still a problem?

[2022-05-01 18:25] newhinton commented on #86
@adripo Is this still an issue?

[2022-05-01 18:27] newhinton commented on #72
I will close this issue since it seems resolved. The fact that the original unsplash api is unsupported will be handled in a different pr when it comes to that.

[2022-05-01 18:27] #72 closed

[2022-05-01 18:29] newhinton commented on #71
Is this still an issue? If not i will close this issue in a couple of weeks to clean this tracker of old tickets.

[2022-05-01 18:32] newhinton commented on #69
Since jquery was replaced, this should be fixed

[2022-05-01 18:32] #69 closed

[2022-05-01 18:39] newhinton commented on #62
This is not really fixable. Since we cant control the image, we often get such artifacts. I am closing this for now, but if i find a solution to that i will implement it. If someone knows css-magic that can change a color based on its background, please comment!

If you want to always show a backgroundgradient or something else, you should use the custom-css app.

[2022-05-01 18:39] #62 closed

[2022-05-01 18:45] newhinton commented on #63
Moved. See #94

[2022-05-01 18:45] #63 closed

[2022-05-01 18:45] newhinton commented on #90
Moved. See https://github.com/nextcloud/unsplash/discussions/94

[2022-05-01 18:45] #90 closed

[2022-05-01 18:45] newhinton commented on #24
see #94

[2022-05-01 18:46] #24 closed

[2022-05-01 18:46] newhinton commented on #6
Moved, see #94

[2022-05-01 18:46] #6 closed

[2022-05-01 18:47] newhinton commented on #5
Moved. see #94

[2022-05-01 18:47] #5 closed

[2022-05-01 18:47] newhinton commented on #4
Moved. see #94

[2022-05-01 18:47] #4 closed

[2022-05-01 18:48] newhinton commented on #19
Moved. see #94

[2022-05-01 18:48] #19 closed

[2022-05-01 18:56] #49 closed

[2022-05-02 21:20] newhinton opened #96 "Remove explicit Dashboard setting"
I have experimented with removing the dashboard setting.

I found out if we use css-selectors, we can specifically target the dasboard-'default' setting which is the same as the login background. This allows us to directly target that selection, instead of breaking the customization provided by nextcloud and moving that setting into the personal setting.

@jancborchardt What do you think about mak

[2022-05-03 06:47] newhinton opened #97 "TOTP does not follow login style"

[2022-05-04 12:50] xkill opened #98 "Add NC24 compatility"
Please, add compatibility for NC24

[2022-05-08 19:33] #98 closed

[2022-05-08 19:35] newhinton commented on #98
I have updated the version for 24.

There is a larger feature update coming, if anyone wants to check it out, take a look at the dev branch!

I appreciate any comments on that! Also suggestions, but they should be in the discussions :D

[2022-05-09 13:02] jet438 opened #100 "Ability to add own photos to ramdom selection"
I love your photos and the idea that they change each time I visit my site. As an enhancement it'd be really cool if I could supplement your photos with my own.
Thanks for the consideration.

[2022-05-09 17:11] adripo commented on #86
No, the issue was solved. Thanks

[2022-05-09 17:11] #86 closed

[2022-05-11 21:28] #100 closed

[2022-05-15 17:43] ndx1905-github opened #101 "Very bright images make NC icons undiscernable / unusable"
use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

- [x] This is not a feature request
- [x] This is not an image-provider request
- [x] I have searched the issuetracker if the issue is not already reported.

**Describe

[2022-05-15 18:14] newhinton commented on #101
This is not an easy one, and we had issues with contrast in the past. I generally consider this 'working as intended', since we cant check the image before display, to verify it 'looks good'.

However, i have added some featues in the dev-branch that may help. You will eventually be able to apply a tint to each image, which will give you the ability to generally increase contrast with any image th

[2022-05-15 19:40] ndx1905-github commented on #101
Thanks for the quick reply
Tint on the whole image is a bit different.
Would it be possible to add a tint just behind the header part? Or alternatively make sure the splash image is confined below the header?

[2022-05-15 19:43] newhinton commented on #101
You can already disable the background image for the header in the settings under theming

[2022-05-15 19:53] ndx1905-github commented on #101
It's already unticked.

Here is the behavior :
- if I tick Set random image as header background, then I have the splash background on every page of every app.
- if I untick Set random image as header background, then I still have the header backgound on the login page and on the dashboard page. That's where my problem is and the unexpected behavior.

[2022-05-15 20:14] ndx1905-github commented on #101
Okay
This made the trick https://github.com/nextcloud/unsplash/issues/92#issuecomment-1097011966

[2022-05-15 20:21] newhinton commented on #101
I have an idea to fix this permanently

[2022-05-15 20:38] ndx1905-github commented on #101
Cool !

Just a comment on the css trick from

#header {
  background: var(--color-primary-element) !important;
}

I noticed that in combination with splash :
- when first loaded, the header is in plain color
<img width="855" alt="Capture d’écran 2022-05-15 à 22 38 04" src="https://user-images.githubusercontent.com/64833823/168492874-e04c58e7-35cd-4f0f-83e9-69f8b693dac0.png">

- if you scroll to

[2022-05-27 16:38] skjnldsv commented on #97
Fixed with 25
![image](https://user-images.githubusercontent.com/14975046/170741985-41593720-f653-4080-bbbd-bcc1639474cc.png)

[2022-05-27 16:39] skjnldsv opened #102 "Image resolution too small on large screen"
The url can specify the current screen size like this
https://source.unsplash.com/featured/2560x1440?nature,nature

![image](https://source.unsplash.com/featured/2560x1440?nature,nature)

We should use that

[2022-05-27 17:20] newhinton commented on #102
@skjnldsv Yes and no. It would be great if we can add this via css, but we cannot provide this by default (at the moment).
Especially since i am preparing a bigger release with many more sources for images. We already can select keywords, but not modify the url directly (as to prevent abuse)

Check out the dev-branch, it has a HD version for the url. Review is appreciated ;)

[2022-05-27 17:22] newhinton commented on #97
Is this fixed for all currently supported versions?

did that also fix the custom css loading, or just the background image loading?

[2022-05-27 19:26] skjnldsv commented on #102
You can provide the url via javascript and css variables `--image-background` https://github.com/nextcloud/server/blob/07c9bf1adff8a2d10ff774da32c2ddd54fd01923/apps/theming/lib/Themes/DefaultTheme.php#L191-L203
https://stackoverflow.com/a/55270268/3885878

[2022-05-27 20:33] newhinton commented on #102
I would like to not use js for this, i think the solution i have now is quite elegant.

I will rethink this at a later point, but i think it would be more useful if i would implement better customization for the provider in the dev branch. That would solve this issue aswell, as long as the webbrowser does not influence the loaded images.

It would be kinda awesome if the webbrowser would edit the

[2022-05-29 15:42] skjnldsv commented on #97
Login design is also applied, that include dark/light theme and primary colours

[2022-05-31 06:59] skjnldsv commented on #102
We could also load a bigger image.
Honestly, pixelized login screen looks kinda bad :/

[2022-05-31 07:03] skjnldsv commented on #102
Oh, I have an idea, we could use media queries!
[code]

[2022-05-31 07:14] skjnldsv commented on #102
https://github.com/nextcloud/unsplash/pull/103

[2022-05-31 10:23] skjnldsv commented on #102
Well, it depends, what is the goal of the dev branch? There is no descriptions or changelog :)

[2022-05-31 10:26] skjnldsv commented on #102
Well, it depends, considering this fixes an issue, if merging dev create a regression, then the dev branch is not acceptable.
In a release process, we shouldn't block merging a bugfix because something that is coming afterwards is not compatible with it.
The issue should be dealt with the dev branch then imho :shrug:

[2022-06-01 13:18] CTONCD commented on #88
Hi please dont close this issue. I just install Nextcloud 24,0,1 with spash 1.2.5 and I have the same problem.
So if I could add a comment, le backgroung behind the top bar dont change the icon color and when the background is dark user couldn't see the icons (it is the same with white background and white icons) it could be better ;)

[2022-06-01 14:15] CTONCD commented on #88
Exact, settings.js?v=10394b22-14:41 Refused to connect to 'http://xxxx.fr/apps/unsplash/settings/personal/set' because it violates the document's Content Security Policy.
how I can do ?

[2022-06-02 20:15] #71 closed

[2022-06-11 09:47] newhinton commented on #102
@skjnldsv I have implemented your media-queries into the dev branch. Can you take a look at it if it works like you wanted?

If it does, i'll merge your PR so we get your contribution into the history, and when i am ready to release dev we have that feature aswell.

[2022-06-11 09:51] newhinton commented on #85
@comradekingu Why did you downvote this? Are there any reasons not to do this?

[2022-06-11 15:07] skjnldsv commented on #102
Having a rough look, seems ok :)

[2022-06-12 02:16] comradekingu commented on #85
@newhinton There is nothing systematic or consistent about it.
Every time it has been tried it goes off the rails on account of Transifex being the possibly worst platform available. Not only in terms of functionality btw.
For whatever synergy you could hope to get (something that also happens to be broken), why not instead replicate the individual successes of Nextcloud projects on Weblate?

That

[2022-06-12 08:55] newhinton commented on #85
I have not used any platform for translations, so i will have to find out how either works, so i can't really judge your comment. I will probably still go with transifex, because the nextcloud project heavily relies on that and so i probably can get unsplash into the nextcloud-project there.

But thank you for your input anyway, i will definitively try other sites like weblate in future projects!

[2022-06-12 08:57] #102 closed

[2022-06-12 09:29] newhinton commented on #101
![grafik](https://user-images.githubusercontent.com/25279821/173226856-0ebdeeed-0535-4577-b21e-7623980873df.png)

The current dev-branch includes the ability to 'tint' an image. It looks like this, and it always applies the instance-color.
This does increase readability, and should be a good way to deal with this issue

[2022-06-12 09:53] Valdnet commented on #85
Exactly. The joint team also allows the unification of translations and text strings in applications.

[2022-06-12 12:51] newhinton commented on #88
@CTONCD Can you check the Content-Security-Policy in the network tab of your browser?

You can open the developer-tools with F12 (Both chrome and firefox work)

There you can open the network-tab, and then change a checkbox.
`http://xxxx.fr/apps/unsplash/settings/personal/set` this url will show up as a POST request. If you click on this you can see the header of the answer, and there should be a

[2022-08-08 09:27] ndx1905-github commented on #101
It would be great to have this tint functionality only behind the icon line and not for the whole image

[2022-09-22 09:02] p-bo commented on #85
...and gain benefits from work of whole Nextcloud translators community for users of your app please?

For instance:

- much more translators will get involved, because without it, they will newer even know about possibility to translate this app - example of benefits for project known in this manner for community of Nextcloud translators (app with recently added to this workflow, based on same re

[2022-10-02 13:11] newhinton opened #105 "Compatibility with Nextcloud Hub 3"
Nextcloud 25 will use the background image even more prominent. We shoud support that.

[2022-10-02 20:06] newhinton commented on #97
@skjnldsv It is still impossible to load css on the `core.TwoFactorChallenge.showChallenge`-route. It tries to redirect the added header from a public page.

[2022-10-03 09:43] skjnldsv commented on #97
@newhinton Adding css?
Why are you adding css? The totp style is compliant to wgat the login is using now. That's what this issue is about

![image](https://user-images.githubusercontent.com/14975046/193547746-1f005e82-253c-466d-bb37-2621a1a891e8.png)

[2022-10-03 09:45] newhinton commented on #97
But this is about unsplash. We change the login screen, and then it does not match anymore.

[2022-10-03 19:32] LaXiS96 commented on #101
A workaround I'm using, added via the Custom CSS app:
[code]
This CSS targets the header's inner `div`s as not to replace the background image, adding a dark overlay below the icons (play with the `0.33` to change opacity).

[2022-10-04 10:02] tigernero79 opened #106 "Splash 2.0.0 Blocks Nextcloud"
use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

- [x] This is not a feature request
- [x] This is not an image-provider request
- [x] I have searched the issuetracker if the issue is not already reported.

**Describe

[2022-10-04 11:21] skjnldsv commented on #106
Please share your nextcloud log error with us. Search for the specified request ID in your screenshot
Do not share the entire file with us :)

[2022-10-04 11:25] skjnldsv commented on #97
See linked PR

[2022-10-04 13:49] newhinton commented on #106
Yes, only the log will help me debug this. My own instance updated fine, but that has nothing to say.

[2022-10-04 14:04] tigernero79 commented on #106
`{"reqId":"CSeCm3ppRIHAwyBsKxNl","level":0,"time":"2022-10-04T14:03:03+00:00","remoteAddr":"xx.xx.xx.xx","user":"Tiger","app":"user_saml","method":"GET","url":"/index.php/apps/files/","message":"/appinfo/app.php is deprecated, use \\OCP\\AppFramework\\Bootstrap\\IBoots${"reqId":"CSeCm3ppRIHAwyBsKxNl","level":0,"time":"2022-10-04T14:03:03+00:00","remoteAddr":"84.33.95.181","user":"Tiger","app":"enc

[2022-10-04 14:44] newhinton commented on #106
Is this the full log? It seems cut off and that parts are missing.

I need the error with the code displayed in your screenshot.

Also, next time please follow the bug-template.

[2022-10-04 14:55] tigernero79 commented on #106
**I am attaching you complete log file, I did regenerate error by re-enabling unsplash with error code id: CSeCm3ppRIHAwyBsKxNl**

[nextcloud.log](https://github.com/nextcloud/unsplash/files/9708090/nextcloud.log)

[2022-10-04 15:03] newhinton commented on #106
Which php version do you use? and it seems that the nextcloud version of the error-instance is 23 not 24, i will test that now. Though on x86 not arm

[2022-10-04 15:12] newhinton commented on #106
It is very likely that you are running php 7.3. I think i started using class definitions, which are available only on 7.4.

[2022-10-04 15:16] marius-wieschollek commented on #106
In that case the php minimum requirement should be increased in the [appinfo.xml](https://github.com/nextcloud/unsplash/blob/master/appinfo/info.xml#L25). Also maybe the update should be removed or more people will try to upgrade to a version that does not run for them.

[2022-10-04 15:22] newhinton commented on #106
Yes i already prepared a version for that. I am currently researching if revoking is possible, can i just "redo" the release with the same tag?

Also it is not verified 100% because i dont have access to a system and i have to set one up, but it seems the most likely.

@tigernero79 Can you test something for me?
On the server which does not work, can you edit the `nextcloud/apps/unsplash/lib/Provi

[2022-10-04 15:24] marius-wieschollek commented on #106
You can delete the release trough the api: https://nextcloudappstore.readthedocs.io/en/latest/restapi.html#api-delete-release

[2022-10-04 17:26] tigernero79 commented on #106
unfortunately debian buster has php 7.3 in itself, I removed the words bool and string from the lines you mentioned but the error remains, I also modified the second file by deleting all the active string and bool entries but nothing @newhinton

[2022-10-04 17:42] newhinton commented on #106
Ah okay, i will try to make it compatible and rerelase it. For now, please disable unsplash via occ until i release 2.0.1

[2022-10-04 21:02] newhinton commented on #106
@tigernero79 I have updated the app to 2.0.1, you should be able to update the app in the upcoming hours. It is compatible with php7.3. Please report back if it is fixed for you! (You can also always use git, but you need to use the nextcloud24_providerupdate-branch, not the master-branch!)

[2022-10-04 21:03] #97 closed

[2022-10-05 04:34] tigernero79 commented on #106
updated to unsplash 2.0.1 everything ok solved thanks for everything 😇

[2022-10-05 07:22] newhinton commented on #106
Great! And Sorry for the inconvenience,

[2022-10-05 07:22] #106 closed

[2022-10-05 10:01] newhinton commented on #96
Released with 2.0.0

[2022-10-05 10:01] #96 closed

[2022-10-05 10:02] #68 closed

[2022-10-09 07:51] yondermeister opened #108 "Splash app - not displaying random background image as usual"
use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

- [ ] This is not a feature request
- [ ] This is not an image-provider request
- [x] I have searched the issuetracker if the issue is not already reported.

**Describe

[2022-10-12 04:54] newhinton commented on #108
Did you enable the Dashboard in the server settings? I guess you took a picture of your personal settings where you can disable the header (for visibility-reasons) but the admin-server-settings do expose more settings.

[2022-10-12 04:55] newhinton commented on #88
Any news? Otherwise i will close this. This specific setting will be removed for nextcloud 25 anyway, so this wil be overcome by events.

[2022-10-12 04:58] #93 closed

[2022-10-12 07:38] yondermeister commented on #108
What you see is my admin account on my Nextcloud, and I have stopped seeing more settings since the last update.

[2022-10-12 08:16] newhinton commented on #108
Yes, but which category?

In the personal group there is the Splash category, and in the administration is theming. in the theming category is another splash subcategory where you can select the provider, and where that should be shown.

[2022-10-12 12:47] yondermeister commented on #108
OK, got it! Thanks a lot!

[2022-10-12 15:08] #108 closed

[2022-10-12 20:55] Dj-Redix opened #109 "Show only grey Image."
use **[GitHub reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)** 👍 to show that you are affected by the same issue. Please don't comment if you have no relevant information to add!

- [x] This is not a feature request
- [x] This is not an image-provider request
- [x] I have searched the issuetracker if the issue is not already reported.

**Describe

[2022-10-19 09:32] GAS85 opened #112 "settings/admin/theming --> Blur is currently only supported in Chrome Browsers."
Hello dear Support,

There is a note about Blur support in Chrome in a settings. It is not true anymore as supported in Firefox too, tested with version 104.0.2. Please update the Text.

Cheers,
Georgiy

[2022-10-19 09:33] GAS85 commented on #112
Never mind, it was solved in https://github.com/nextcloud/unsplash/commit/76c012812f681ef6f78d2fcd9ecba7ab8eb0d1bd.

[2022-10-19 09:33] #112 closed

[2022-10-24 20:22] heulenderwolf commented on #105
Any updates on this?

[2022-11-07 11:59] newhinton commented on #109
Hm i have not recieved any other complaints about this, and i have a hard time replicating this. Could you replicate this with a different browser? Sometimes caching can break things from working. Also, can you check that your browser tries to load the images? I assume your nextcloud-instance is locally hosted on a pi, but your browser needs to fetch the images from the web. If your network connec

[2022-11-07 16:25] #105 closed

[2022-11-07 16:33] newhinton commented on #85
@comradekingu I have read your comment but i cannot really judge your comment factually, but i agree that generally nextcloud should use the most open&easy to use platform.

That said, i still went with transifex for multiple reasons:

1. Transifex is widely used by nextcloud, and therefore the know-how is at transifex.
2. Maintaining a different platform is additional work that i would have to do

[2022-11-07 16:33] #85 closed

[2022-11-18 09:57] Dj-Redix commented on #109
I've tried a few more tests. Other browsers (Safari, Google Chrome) did not work.

I run 2 identical NextcloudPi's (hardware and software) at two different locations. One has 3 users, the other has 4.

I found the following.
It only works for one user on each instance. This user is always the same. As already described above: If only the function below is ticked (Use a random image as background o

[2022-11-18 09:57] #109 closed

[2022-11-18 10:00] Dj-Redix commented on #109
Updated to NextcloudPi version 25.0.1 today. Now it works again as it should. There is also no longer the option to select (random image for the navigation bar).

Many Thanks.

Can be closed.

[2022-11-25 00:40] newhinton commented on #88
No further information was provided.

[2022-11-25 00:40] #88 closed